<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>Add Exam</h1>

<form action=" " method="POST">{% csrf_token %}

    <ul>
        {{ form.as_ul }}
    </ul>
    ===============================================================<br/>
    <legend>Seleccionar Alumnos:</legend>
    <br/>


    {% for estudiante in estudiantes %}

        {{ estudiante }}
        <input type="checkbox" name="estudiante-{{ forloop.counter }}" value="{{ estudiante.code }}"
               checked="True"/><br/>{% csrf_token %}


    {% empty %}
        <li>No ahi alumnos..!!</li>
    {% endfor %}
    <br/>===================================================================<br/>

    <input type="submit" value="Guardar examen"/>
</form>


<form action="{% url 'logout' %}" method="POST">{% csrf_token %}
    <input type="submit" value="logout"/>
</form>


<a href="{% url 'page_teacher' %}">retornar a examenes</a>
</body>
</html>