<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
       {% if user.is_authenticated %}
            {% for student in examen.students.all  %}
                    <li>{{ student }}</li>

            {% empty %}
                <li>No ahi alumnos registrados.!!</li>
            {% endfor%}
{#           {{ examen.students.all|join:"," }}#}

        {% endif %}


</body>
</html>