<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% if user.is_authenticated %}
    <form action=" " method="POST">{% csrf_token %}
    {% if examen %}
        {% for question in examen.questions.all %}

            <li>{{ question.question_text }}</li>
            {% for choice in question.choices.all %}
                {{ choice.choice_text }}
                <input type="checkbox" name="choice-{{ choice.id }}" value="{{ choice.pk }}" /><br/>{% csrf_token %}
            {% endfor %}
            {% empty %}
                <li>No ahi preguntas registrados.!!</li>
            {% endfor %}

        <input type="submit" value="Guardar respuestas"/>
    </form>

    {% endif %}
    <legend>Examen no esta en su hora</legend>
    <a href="{% url 'page_student' %}">retornar a examenes</a>
{% endif %}

</body>
</html>