<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div>
    {% if user.is_authenticated %}
        <form action="{% url 'home' %}" method="POST">{% csrf_token %}
            <input type="submit" value="logout"/>
        </form>
    {% else %}
        <legend>Entrar</legend>
        <form action=" " method="POST">{% csrf_token %}
            <div>
                <label>Usuario</label>
                <input name="username" type="texto" placeholder="Usuario">

            </div>

            <div>
                <label>Contraseña</label>
                <input name="password" type="password" placeholder="Contraseña">
            </div>

            <div>
                <input type="submit" value="Ingresar"/>
            </div>
        </form>
    {% endif %}

</div>
</body>
</html>