<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
    <body>
        {% if user.is_authenticated %}
            {% for examen in examenes  %}
               <li><a href="exam/{{ examen.id }}/">{{ examen }}</a></li>

            {% empty %}
                <li>No ahi examenes..!!</li>
            {% endfor%}

                <form action="{% url 'page_teacher_create' %}" method="GET">
                    <input type="submit" value="Crear examen"/>
                </form>

                <form action="{% url 'logout' %}" method="POST">{% csrf_token %}
                    <input type="submit" value="logout"/>
                </form>
        {% endif %}



    </body>
</html>