<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    student
     {% if user.is_authenticated %}
        {% for examen in examenes  %}
                <li><a href="exam/{{ examen.id }}/">{{ examen }}</a>
        {% empty %}
                <li>No ahi examenes..!!</li>
        {% endfor%}

                <form action="{% url 'logout' %}" method="POST">{% csrf_token %}
                    <input type="submit" value="logout"/>
                </form>
     {% endif %}
</body>
</html>