<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
     <form action=" " method="post"> {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register"/>
     </form>
</body>
</html>