<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% if user.is_authenticated %}
            {% for estudiante in estudiantes  %}
                <form>{% csrf_token %}
                    {{ estudiante }} <input type="checkbox" value="True"/><br/>{% csrf_token %}
                </form>

            {% empty %}
                <li>No ahi alumnos..!!</li>
            {% endfor%}

                <form action="{% url 'page_teacher_create' %}" method="GET">
                    <input type="submit" value="Guardar alumnos"/>
                </form>

                <form action="{% url 'logout' %}" method="POST">{% csrf_token %}
                    <input type="submit" value="logout"/>
                </form>
        {% endif %}

</body>
</html>